<html>
  <head>
    <%=javascript_include_tag "http://code.jquery.com/jquery-#{ENV['JQUERY_VERSION']}.min.js" %>
    <%=javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" %>
    <%=javascript_include_tag "jquery_turbolinks_application" %>
  </head>
  <body>
    <a href="/test/turbolinks_target">This is a turbolink</a>
  </body>
</html>
